{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="/static/img/free-stock-photos.gif">
                <div class="card-block">
                    <h4 class="card-title">Calculus 101</h4>
                    <div class="card-text">
                        Introduction to Calculus
                    </div>
                </div>
                <div class="card-footer">
                    <small>Teacher One</small>
                    <button class="pull-right btn btn-info float-right btn-sm">&nbsp;Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="/static/img/free-stock-photos.gif">
                <div class="card-block">
                    <h4 class="card-title">Algebra 101</h4>
                    <div class="card-text">
                        Introduction to Algebra
                    </div>
                </div>
                <div class="card-footer">
                    <small>Teacher Two</small>
                    <button class="pull-right btn btn-info float-right btn-sm">&nbsp;Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="/static/img/free-stock-photos.gif">
                <div class="card-block">
                    <h4 class="card-title">Trigonometry 101</h4>
                    <div class="card-text">
                        Introduction to Trigonometry
                    </div>
                </div>
                <div class="card-footer">
                    <small>Teacher One</small>
                    <button class="pull-right btn btn-info float-right btn-sm">&nbsp;Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="/static/img/free-stock-photos.gif">
                <div class="card-block">
                    <h4 class="card-title">Set Theory 101</h4>
                    <div class="card-text">
                        Introduction to Set Theory
                    </div>
                </div>
                <div class="card-footer">
                    <small>Teacher One</small>
                    <button class="pull-right btn btn-info float-right btn-sm">&nbsp;Info</button>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/home.js"></script>
{% endblock %}
